In [1]:
import pandas as pd
import numpy as np
from thefuzz import process

In [41]:
movies = pd.read_csv('Data/movie_ratings.csv')
cast_df = pd.read_csv('/Users/parkerharalds/Downloads/title.crew.tsv', delimiter='\t')
name_df = pd.read_csv('/Users/parkerharalds/Downloads/name.basics.tsv', delimiter='\t')
rev_df = pd.read_csv('Data/rev_df.csv')

/var/folders/0k/y2qbjrj17tx6k7cdjb67jg100000gn/T/ipykernel_57177/1184675959.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('Data/movie_ratings.csv')

Creating a seperate row for each director:

In [42]:
#There are a lot of rows with multiple directors
rows_with_commas = cast_df[cast_df['directors'].str.contains(',')]

In [43]:
directors_df = cast_df

In [44]:
#breaking each row of director using ',' and creating a new row
directors_df['directors'] = directors_df['directors'].str.split(',')
directors_df = directors_df.explode('directors').reset_index(drop=True)

Merging all DFs:

In [45]:
movie_df = pd.merge(movies,directors_df,on='tconst')

In [49]:
name_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

In [48]:
movie_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362697,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432"
362698,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N
362699,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404"
362700,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903
362701,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612

In [50]:
main_df = pd.merge(movie_df,name_df,left_on='directors',right_on='nconst')

In [51]:
main_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156,nm0085156,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N,nm0714557,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388",nm0063413,Ricardo de Baños,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879,nm0846879,Charles Tait,1868,1933,"director,writer",tt0000574
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150,nm0141150,Michel Carré,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433627"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359561,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432",nm1893148,Pablo Agüero,1977,\N,"director,writer,producer","tt2953182,tt0800964,tt1403041,tt1143153"
359562,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N,nm0910951,Jixing Wang,\N,\N,"director,writer","tt0340445,tt0344062,tt0351226,tt1267271"
359563,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404",nm4457074,Azhar Kinoi Lubis,\N,\N,"director,assistant_director,actor","tt5774688,tt1930290,tt5185980,tt8517144"
359564,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903,nm7764440,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282"
359565,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612,nm10538612,Kiran Gawade,\N,\N,"director,writer",tt9916730

In [53]:
#creating name_id to join revenue and imdb data
main_df['name_id'] = main_df['primaryTitle'] + main_df['startYear'].astype(str)

In [54]:
#name_id create for rev_df
rev_df['date'] = pd.to_datetime(rev_df['date'])
rev_df['year'] = rev_df['date'].dt.year
rev_df['name_id'] = rev_df['primaryTitle'] + rev_df['year'].astype(str)

Using fuzzy merge to join data:

In [55]:
# Create a dictionary to store the best match from main_df for each name in num_df
match_dict = {}
for name in rev_df['name_id']:
   # Use extractOne to get the best match
    result = process.extractOne(name, main_df['name_id'])
    
    # Only proceed if result is valid
    if result:
        # Unpack result to get best_match and score, ignore any extras
        best_match, score = result[:2]
        if score > 90:  # Threshold for a good match
            match_dict[name] = best_match

# Map the matches from df2 to df1's 'name' column
rev_df['matched_name'] = rev_df['name_id'].map(match_dict)

In [56]:
merged_df = pd.merge(rev_df, main_df, left_on='matched_name', right_on='name_id', how='left')

In [57]:
merged_df

,Rank,date,primaryTitle_x,budget,domestic_gross,world_gross,year,name_id_x,matched_name,tconst,...,numVotes,directors,writers,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,name_id_y
0,"5,802",1968-11-06,Shalako,"$1,455,000","$2,620,000","$2,620,000",1968,Shalako1968,Shalako1968,tt0063592,...,3557,nm0229424,"nm0478263,nm0341526,nm0394404,nm0277451,nm0721655",nm0229424,Edward Dmytryk,1908,1999,"director,editor,editorial_department","tt0046816,tt0039286,tt0059448,tt0041416",Shalako1968
1,"3,950",1970-02-24,The Molly Maguires,"$11,000,000","$2,200,000","$2,200,000",1970,The Molly Maguires1970,The Molly Maguires1970,tt0066090,...,4420,nm0728688,"nm1054968,nm0077159",nm0728688,Martin Ritt,1914,1990,"director,producer,actor","tt0057163,tt0059749,tt0079638,tt0051878",The Molly Maguires1970
2,"5,468",1971-05-21,Escape from the Planet of the Apes,"$2,500,000","$12,300,000","$12,300,000",1971,Escape from the Planet of the Apes1971,Escape from the Planet of the Apes1971,tt0067065,...,42119,nm0852279,"nm0214989,nm0099541",nm0852279,Don Taylor,1920,1998,"director,actor,writer","tt0046359,tt0080736,tt0067065,tt0076210",Escape from the Planet of the Apes1971
3,"5,694",1973-06-15,Battle for the Planet of the Apes,"$1,800,000","$8,800,000","$8,800,000",1973,Battle for the Planet of the Apes1973,Battle for the Planet of the Apes1973,tt0069768,...,35911,nm0496746,"nm0099541,nm0214989,nm0181019,nm0181020",nm0496746,J. Lee Thompson,1914,2002,"director,writer,producer","tt0054953,tt0051204,tt0068408,tt0055824",Battle for the Planet of the Apes1973
4,"3,929",1975-12-18,Barry Lyndon,"$11,000,000","$20,000,000","$20,221,274",1975,Barry Lyndon1975,Barry Lyndon1975,tt0072684,...,187337,nm0000040,"nm0000040,nm0856842",nm0000040,Stanley Kubrick,1928,1999,"director,writer,producer","tt0062622,tt0066921,tt0072684,tt0093058",Barry Lyndon1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7154,"6,417",2011-09-09,Grave Encounters,"$120,000",$0,"$3,613,222",2011,Grave Encounters2011,Grave Encounters2011,tt1703199,...,65997,nm4155547,"nm4155547,nm3425513,nm4017355",nm4155547,The Vicious Brothers,\N,\N,"writer,editor,director","tt1703199,tt2960930,tt2231554",Grave Encounters2011
7155,"1,008",2015-09-09,Maze Runner: The Scorch Trials,"$61,000,000","$81,697,192","$310,566,162",2015,Maze Runner: The Scorch Trials2015,Maze Runner: The Scorch Trials2015,tt4046784,...,284986,nm1226871,"nm2385905,nm4212895",nm1226871,Wes Ball,1980,\N,"art_department,director,producer","tt11389872,tt4046784,tt4500922,tt1790864",Maze Runner: The Scorch Trials2015
7156,"3,132",2015-09-09,The Perfect Guy,"$18,000,000","$57,027,435","$60,278,166",2015,The Perfect Guy2015,The Perfect Guy2015,tt3862750,...,11449,nm1270033,"nm0568416,nm0931862",nm1270033,David M. Rosenthal,1969,\N,"director,writer,producer","tt1540741,tt5246700,tt14995258,tt1509130",The Perfect Guy2015
7157,"3,532",2016-09-09,The Disappointments Room,"$15,000,000","$2,423,467","$3,503,761",2016,The Disappointments Room2016,The Disappointments Room2016,tt2364897,...,10834,nm0142286,"nm0589505,nm0142286",nm0142286,D.J. Caruso,1965,\N,"director,producer,writer","tt1464540,tt1059786,tt1293847,tt0107843",The Disappointments Room2016
7158,"4,182",2016-09-09,Kicks,"$10,000,000","$150,191","$150,191",2016,Kicks2016,Kicks2016,tt4254584,...,4547,nm3258390,"nm4454043,nm3258390",nm3258390,Justin Tipping,\N,\N,"director,producer,actor","tt2073039,tt4254584,tt7406334,tt8115582",Kicks2016

In [58]:
merged_df.columns

Index(['Rank', 'date', 'primaryTitle_x', 'budget', 'domestic_gross',
       'world_gross', 'year', 'name_id_x', 'matched_name', 'tconst',
       'titleType', 'primaryTitle_y', 'originalTitle', 'isAdult', 'startYear',
       'endYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes',
       'directors', 'writers', 'nconst', 'primaryName', 'birthYear',
       'deathYear', 'primaryProfession', 'knownForTitles', 'name_id_y'],
      dtype='object')

In [65]:
drop_these = ['Rank','name_id_x','matched_name','tconst','titleType','primaryTitle_y','endYear'
              ,'writers','nconst','deathYear','name_id_y','knownForTitles','primaryProfession','directors']
df = merged_df.drop(columns=drop_these,index=1)

In [66]:
df

,date,primaryTitle_x,budget,domestic_gross,world_gross,year,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,primaryName,birthYear
0,1968-11-06,Shalako,"$1,455,000","$2,620,000","$2,620,000",1968,Shalako,0,1968,113,"Drama,Western",5.6,3557,Edward Dmytryk,1908
2,1971-05-21,Escape from the Planet of the Apes,"$2,500,000","$12,300,000","$12,300,000",1971,Escape from the Planet of the Apes,0,1971,98,"Action,Sci-Fi",6.3,42119,Don Taylor,1920
3,1973-06-15,Battle for the Planet of the Apes,"$1,800,000","$8,800,000","$8,800,000",1973,Battle for the Planet of the Apes,0,1973,93,"Action,Sci-Fi",5.4,35911,J. Lee Thompson,1914
4,1975-12-18,Barry Lyndon,"$11,000,000","$20,000,000","$20,221,274",1975,Barry Lyndon,0,1975,185,"Adventure,Drama,War",8.1,187337,Stanley Kubrick,1928
5,1976-06-23,Logan’s Run,"$7,000,000","$25,000,000","$25,000,076",1976,Logan's Run,0,1976,119,"Action,Adventure,Sci-Fi",6.8,62211,Michael Anderson,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7154,2011-09-09,Grave Encounters,"$120,000",$0,"$3,613,222",2011,Grave Encounters,0,2011,92,"Horror,Mystery",6.1,65997,The Vicious Brothers,\N
7155,2015-09-09,Maze Runner: The Scorch Trials,"$61,000,000","$81,697,192","$310,566,162",2015,Maze Runner: The Scorch Trials,0,2015,131,"Action,Adventure,Sci-Fi",6.3,284986,Wes Ball,1980
7156,2015-09-09,The Perfect Guy,"$18,000,000","$57,027,435","$60,278,166",2015,The Perfect Guy,0,2015,100,"Drama,Romance,Thriller",5.6,11449,David M. Rosenthal,1969
7157,2016-09-09,The Disappointments Room,"$15,000,000","$2,423,467","$3,503,761",2016,The Disappointments Room,0,2016,91,"Drama,Horror,Thriller",3.9,10834,D.J. Caruso,1965
7158,2016-09-09,Kicks,"$10,000,000","$150,191","$150,191",2016,Kicks,0,2016,80,"Adventure,Drama",6.4,4547,Justin Tipping,\N

In [67]:
df.to_csv('directors.csv',index=False)