In [1]:
import pandas as pd

In [20]:
genre = pd.read_csv('Data/movies_tableau_V3.csv')

In [8]:
genre

,date,Movie,budget,domestic_revenue,world_revenue,year,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes
0,1968-11-06,Shalako,1455000.0,2620000.0,2620000.0,1968,Shalako,0,1968,113,"Drama,Western",5.6,3557
1,1971-05-21,Escape from the Planet of the Apes,2500000.0,12300000.0,12300000.0,1971,Escape from the Planet of the Apes,0,1971,98,"Action,Sci-Fi",6.3,42119
2,1973-06-15,Battle for the Planet of the Apes,1800000.0,8800000.0,8800000.0,1973,Battle for the Planet of the Apes,0,1973,93,"Action,Sci-Fi",5.4,35911
3,1975-12-18,Barry Lyndon,11000000.0,20000000.0,20221274.0,1975,Barry Lyndon,0,1975,185,"Adventure,Drama,War",8.1,187337
4,1976-06-23,Logan’s Run,7000000.0,25000000.0,25000076.0,1976,Logan's Run,0,1976,119,"Action,Adventure,Sci-Fi",6.8,62211
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6160,2011-09-09,Grave Encounters,120000.0,0.0,3613222.0,2011,NaN,0,2015,\N,"Action,Drama,Mystery",7.2,7
6161,2015-09-09,Maze Runner: The Scorch Trials,61000000.0,81697192.0,310566162.0,2015,Maze Runner: The Scorch Trials,0,2015,131,"Action,Adventure,Sci-Fi",6.3,284986
6162,2015-09-09,The Perfect Guy,18000000.0,57027435.0,60278166.0,2015,The Perfect Guy,0,2015,100,"Drama,Romance,Thriller",5.6,11449
6163,2016-09-09,The Disappointments Room,15000000.0,2423467.0,3503761.0,2016,The Disappointments Room,0,2016,91,"Drama,Horror,Thriller",3.9,10834
6164,2016-09-09,Kicks,10000000.0,150191.0,150191.0,2016,Kicks,0,2016,80,"Adventure,Drama",6.4,4547

In [9]:
rows_with_commas = genre[genre['genres'].str.contains(',')]

In [10]:
rows_with_commas

,date,Movie,budget,domestic_revenue,world_revenue,year,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes
0,1968-11-06,Shalako,1455000.0,2620000.0,2620000.0,1968,Shalako,0,1968,113,"Drama,Western",5.6,3557
1,1971-05-21,Escape from the Planet of the Apes,2500000.0,12300000.0,12300000.0,1971,Escape from the Planet of the Apes,0,1971,98,"Action,Sci-Fi",6.3,42119
2,1973-06-15,Battle for the Planet of the Apes,1800000.0,8800000.0,8800000.0,1973,Battle for the Planet of the Apes,0,1973,93,"Action,Sci-Fi",5.4,35911
3,1975-12-18,Barry Lyndon,11000000.0,20000000.0,20221274.0,1975,Barry Lyndon,0,1975,185,"Adventure,Drama,War",8.1,187337
4,1976-06-23,Logan’s Run,7000000.0,25000000.0,25000076.0,1976,Logan's Run,0,1976,119,"Action,Adventure,Sci-Fi",6.8,62211
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6160,2011-09-09,Grave Encounters,120000.0,0.0,3613222.0,2011,NaN,0,2015,\N,"Action,Drama,Mystery",7.2,7
6161,2015-09-09,Maze Runner: The Scorch Trials,61000000.0,81697192.0,310566162.0,2015,Maze Runner: The Scorch Trials,0,2015,131,"Action,Adventure,Sci-Fi",6.3,284986
6162,2015-09-09,The Perfect Guy,18000000.0,57027435.0,60278166.0,2015,The Perfect Guy,0,2015,100,"Drama,Romance,Thriller",5.6,11449
6163,2016-09-09,The Disappointments Room,15000000.0,2423467.0,3503761.0,2016,The Disappointments Room,0,2016,91,"Drama,Horror,Thriller",3.9,10834
6164,2016-09-09,Kicks,10000000.0,150191.0,150191.0,2016,Kicks,0,2016,80,"Adventure,Drama",6.4,4547

In [21]:
genres_df = genre

In [22]:
genres_df['genres'] = genres_df['genres'].str.split(',')
genres_df = genres_df.explode('genres').reset_index(drop=True)

Broke up genres and saved each genre as a new row in data frame. Saving as csv for analysis in Tableau

In [24]:
genres_df.to_csv('genres.csv',index=False)