In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [24]:
df = pd.read_csv('Data/movies_tableau_V3.csv')

Quick check of the relationship between some of the numeric variables in DF:

In [25]:
df.corr(numeric_only=True)

                    budget  domestic_revenue  ...  averageRating  numVotes
budget            1.000000          0.683269  ...       0.026970  0.379888
domestic_revenue  0.683269          1.000000  ...       0.169823  0.528997
world_revenue     0.735739          0.942330  ...       0.166862  0.511019
year              0.216806          0.071537  ...      -0.114854  0.002709
isAdult          -0.009681         -0.000062  ...      -0.019318 -0.006374
startYear         0.190948          0.059328  ...      -0.049130 -0.042764
averageRating     0.026970          0.169823  ...       1.000000  0.354898
numVotes          0.379888          0.528997  ...       0.354898  1.000000

[8 rows x 8 columns]

There are some redundant columns in this data set. Dropping those before proceeding:

In [26]:
df = df.drop(columns='startYear')

Run time should be numeric. Changing data type:

In [28]:
df['runtimeMinutes'] = pd.to_numeric(df['runtimeMinutes'], errors='coerce')
#show new correlation matrix
df.corr(numeric_only=True)

In [30]:
model_df = df.select_dtypes(include=['number'])

model.csv save to data folder:

In [32]:
model_df.to_csv('model.csv',index=True)