In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data/movie_data.csv')

In [ ]:
df.isnull().sum()

No nulls in df, now lets check for zeros:

In [ ]:
gross = len(df[df['world_gross']==0])
votes = len(df[df['numVotes']==0])
rating = len(df[df['averageRating']==0])

print('The number of cols with zero gross is:', gross
      ,'\nThe number of cols with zero votes is:', votes 
      ,'\nThe number of cols with zero ratis is:',rating)

No zeros either! Time to get a better sense of the data:

In [ ]:
df.columns

In [ ]:
df.describe()

Problem 3: The budget/revenue columns are formatted incorrectly. Resolving that:

In [10]:
#these columns have incorrect formatting
cols = ['budget','domestic_gross','world_gross']

# Remove '$' and ',' then convert to float
df[cols] = df[cols].apply(lambda x: x.str.replace('[$,]', '', regex=True).astype(float))

In [ ]:
df.describe()

Rechecking for zeros in key columns:

In [ ]:
domestic = len(df[df['domestic_gross']==0])
gross = len(df[df['world_gross']==0])
votes = len(df[df['numVotes']==0])
rating = len(df[df['averageRating']==0])
budget = len(df[df['budget']==0])

print('The number of cols with zero domestic gross is:', domestic
      ,'\nThe number of cols with zero world gross is:', gross
      ,'\nThe number of cols with zero votes is:', votes 
      ,'\nThe number of cols with zero ratings is:',rating
      ,'\nThe number of cols with zero budget is:',budget)

We can now see that there are some columns with zero gross revenue. The difference between domestic and world is understandable as some international films have no domestic (US) gross revenue. Further exploration of revenue:

In [ ]:
no_domestic = df[df['domestic_gross']==0]
no_domestic

As initially thought, there are many international films that have world_gross revenue but no revenue in the US. I will keep these rows, but get rid of the rows with zeros in each revenue column:

In [18]:
df1 = df[~((df['domestic_gross'] == 0) & (df['world_gross'] == 0))]

In [ ]:
df1[df1['domestic_gross'] == 0]
# df1[df1['world_gross'] == 0]

In [26]:
df = df1

Now lets explore our data further:

In [31]:
df.columns

Index(['Rank', 'date', 'primaryTitle_x', 'budget', 'domestic_gross',
       'world_gross', 'title_x', 'year', 'name_id', 'tconst', 'titleType',
       'primaryTitle_y', 'originalTitle', 'isAdult', 'startYear', 'endYear',
       'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'nconst',
       'writers', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles', 'title_y'],
      dtype='object')

Will drop some duplicate/irrelevant columns:

In [33]:
drop_these = ['title_x','name_id','tconst','titleType','primaryTitle_y','endYear','nconst','writers','knownForTitles','title_y']
df2 = df.drop(columns=drop_these,index=1)

In [30]:
df.describe()

,budget,domestic_gross,world_gross,year,isAdult,startYear,averageRating,numVotes
count,4.458000e+03,4.458000e+03,4.458000e+03,4458.000000,4458.000000,4458.000000,4458.000000,4.458000e+03
mean,3.810359e+07,4.968351e+07,1.073424e+08,2004.686182,0.000224,2004.686182,6.393786,1.406503e+05
std,4.667426e+07,7.369079e+07,1.901837e+08,13.297395,0.014977,13.297395,1.016569,2.277822e+05
min,7.000000e+03,0.000000e+00,4.300000e+01,1915.000000,0.000000,1915.000000,1.300000,5.000000e+00
25%,9.200000e+06,7.000000e+06,1.123360e+07,1999.000000,0.000000,1999.000000,5.800000,2.102300e+04
50%,2.200000e+07,2.618326e+07,4.082910e+07,2007.000000,0.000000,2007.000000,6.500000,6.576000e+04
75%,5.000000e+07,6.083951e+07,1.192884e+08,2014.000000,0.000000,2014.000000,7.100000,1.636245e+05
max,5.332000e+08,9.366622e+08,2.923706e+09,2024.000000,1.000000,2024.000000,9.300000,2.956432e+06

Numeric columns look pretty solid at first glance. Saving file for further review in Tableau

In [38]:
df2.to_csv('movies_tableau.csv',index=False)